In [1]:
import pandas as pd
import dash as ds
import csv
import os

In [2]:
data0 = pd.read_csv("./Data/daily_sales_data_0.csv")
data1 = pd.read_csv("./Data/daily_sales_data_1.csv")
data2 = pd.read_csv("./Data/daily_sales_data_2.csv")

In [3]:
data0.describe

<bound method NDFrame.describe of                 product  price  quantity        date region
0           pink morsel  $3.00       546  2018-02-06  north
1           pink morsel  $3.00       549  2018-02-06  south
2           pink morsel  $3.00       577  2018-02-06   east
3           pink morsel  $3.00       519  2018-02-06   west
4           gold morsel  $9.99       580  2018-02-06  north
...                 ...    ...       ...         ...    ...
13715  vermilion morsel  $4.99       504  2019-06-10   west
13716      lapis morsel  $1.99       521  2019-06-10  north
13717      lapis morsel  $1.99       502  2019-06-10  south
13718      lapis morsel  $1.99       536  2019-06-10   east
13719      lapis morsel  $1.99       515  2019-06-10   west

[13720 rows x 5 columns]>

In [4]:
data1.describe

<bound method NDFrame.describe of                 product  price  quantity        date region
0           pink morsel  $3.00       545  2019-06-11  north
1           pink morsel  $3.00       521  2019-06-11  south
2           pink morsel  $3.00       595  2019-06-11   east
3           pink morsel  $3.00       507  2019-06-11   west
4           gold morsel  $9.99       529  2019-06-11  north
...                 ...    ...       ...         ...    ...
13715  vermilion morsel  $4.99       596  2020-10-12   west
13716      lapis morsel  $1.99       522  2020-10-12  north
13717      lapis morsel  $1.99       600  2020-10-12  south
13718      lapis morsel  $1.99       531  2020-10-12   east
13719      lapis morsel  $1.99       556  2020-10-12   west

[13720 rows x 5 columns]>

In [5]:
data2.describe

<bound method NDFrame.describe of                 product  price  quantity        date region
0           pink morsel  $3.00       526  2020-10-13  north
1           pink morsel  $3.00       546  2020-10-13  south
2           pink morsel  $3.00       505  2020-10-13   east
3           pink morsel  $3.00       561  2020-10-13   west
4           gold morsel  $9.99       553  2020-10-13  north
...                 ...    ...       ...         ...    ...
13715  vermilion morsel  $4.99       475  2022-02-14   west
13716      lapis morsel  $1.99       425  2022-02-14  north
13717      lapis morsel  $1.99       454  2022-02-14  south
13718      lapis morsel  $1.99       483  2022-02-14   east
13719      lapis morsel  $1.99       427  2022-02-14   west

[13720 rows x 5 columns]>

In [6]:
file_paths = ['./Data/daily_sales_data_0.csv',
                  './Data/daily_sales_data_1.csv',
                  './Data/daily_sales_data_2.csv']
output_path = "./formatted_data.csv"

with open(output_path, "w", newline='') as output_file:
    writer = csv.writer(output_file)
    header = ["sales", "date", "region"]
    writer.writerow(header)

    for file_name in file_paths:
        with open(file_name, "r", newline='') as input_file:
            reader = csv.reader(input_file)
            next(reader)
            for input_row in reader:
                product = input_row[0]
                raw_price = input_row[1]
                quantity = input_row[2]
                transaction_date = input_row[3]
                region = input_row[4]

                if product == "pink morsel":
                    price = float(raw_price[1:])
                    sale = price * int(quantity)
                    output_row = [sale, transaction_date, region]
                    writer.writerow(output_row)

In [7]:
formatted_data = pd.read_csv("formatted_data.csv")
formatted_data.describe

<bound method NDFrame.describe of        sales        date region
0     1638.0  2018-02-06  north
1     1647.0  2018-02-06  south
2     1731.0  2018-02-06   east
3     1557.0  2018-02-06   west
4     1587.0  2018-02-07  north
...      ...         ...    ...
5875  2390.0  2022-02-13   west
5876  2035.0  2022-02-14  north
5877  2465.0  2022-02-14  south
5878  2500.0  2022-02-14   east
5879  2115.0  2022-02-14   west

[5880 rows x 3 columns]>

In [8]:
formatted_data.head()

    sales        date region
0  1638.0  2018-02-06  north
1  1647.0  2018-02-06  south
2  1731.0  2018-02-06   east
3  1557.0  2018-02-06   west
4  1587.0  2018-02-07  north